<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= foundFood.name%></h1>
    <p>Food Type: <%= foundFood.foodType%></p>
    <%if(foundFood.isHealthy = true){%>

        <p>This food is healthy!</p>
    <%}else{%>
        <p>This food is NOT healthy!</p>
        <%}%>    
     <form action="/food" method="get">
        <button type="submit">Go back to all food list</button>
    </form>    
    <br>
    <form action="/food/Destroy/<%=foundFood._id%>?_method=DELETE" method="post">
        <button type="submit">Delete Food</button>
    </form>
    <br>
     <form action="/food/<%= foundFood._id%>/edit" method="get">
        <button type="submit">Update Food Details</button>
    </form>
</body>
</html>