<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update <%= foundFood.name%> Details</h1>
    <form action="/food/<%= foundFood._id%>/edit?_method=PUT" method="post">

      <label for="foodName">Food Name:</label>
      <input value="<%= foundFood.name%>" name="name" id="foodName" type="text"/>
      <br />
      <br />
      <label for="foodType">Food Type:</label>
      <input value="<%= foundFood.foodType%>" name="foodType"  id="foodType" type="text"/>
      <br />
      <br />
      <label for="isHealthy">Is Healthy?</label>
      <input <% if(foundFood.isHealthy){ %> checked <% }%> name="isHealthy"
      id="isHealthy" type="checkbox">
      <br />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
